<div id="What-we-serve">
  <div class="container">
    <h2>Meet The Founder</h2>
    <div class="founder">
      <div class="video-container">
        <div class="video-wrapper">
          <iframe src="{{ section.settings.youtube_url }}"
            title="YouTube video player"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Meet The Founder",
  "settings": [
    {
      "type": "text",
      "id": "youtube_url",
      "label": "YouTube Embed URL",
      "default": "https://www.youtube.com/embed/ptAJlzT_MG0?si=oY5eSEFr9_wHJbD0"
    }
  ],
  "presets": [
    {
      "name": "Meet The Founder"
    }
  ]
}
{% endschema %}
