<div id="What-we-serve">
  <div class="container">
    <h2>@zencurryexpress</h2>
    <div class="Instagram">
      <script src="https://elfsightcdn.com/platform.js" async></script>
      <div class="elfsight-app-7ca39822-3c83-4743-b2d7-2e33149912bc" data-elfsight-app-lazy></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Instagram Feed",
  "settings": [
    {
      "type": "text",
      "id": "handle",
      "label": "Instagram Handle",
      "default": "@zencurryexpress"
    }
  ],
  "presets": [
    {
      "name": "Instagram Feed"
    }
  ]
}
{% endschema %}
