<div id="What-we-serve">
  <div class="container">
    <h2>Our Reviews!</h2>
    <div class="Reviews">
      <script src="https://elfsightcdn.com/platform.js" async></script>
      <div class="elfsight-app-161bf337-a570-4191-a195-8c9af32ca090" data-elfsight-app-lazy></div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Reviews",
  "settings": [
    {
      "type": "text",
      "id": "elfsight_app_id",
      "label": "Elfsight App ID",
      "info": "The full Elfsight class name, e.g. elfsight-app-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
      "default": "elfsight-app-161bf337-a570-4191-a195-8c9af32ca090"
    }
  ],
  "presets": [
    {
      "name": "Reviews"
    }
  ]
}
{% endschema %}
